div,p,span,a,h2{-webkit-font-smoothing:antialiased}
body{
    background: #f2f2f2;padding-bottom:60px;overflow: auto!important;
}
.clear_float{
    zoom:1;
}
.site_body{
    max-width: 1024px;margin:0 auto;
}
.clear_float:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
header[class='site_header']{
  background: #25252f;padding:5px ;position: relative;z-index:5005;
}
.site_header_dropDown{
    width:40%;float: left;position: relative;z-index:5005;padding-left: 10px;
}
.site_header_dropDown p{
    margin:0px;
}
.site_header_dropDown > p{
    display: inline-block;color:#fff;line-height: 34px;
}
.site_header_dropDown  span{
    font-size: 25px;vertical-align: -10%;
}
.site_header_change{
    float: right;width:15%;text-align: center;
}
.site_header_change span{
    color:#fff;display: inline-block;line-height: 34px;font-size:20px;
}
.site_content{
    width:100%;
}
.state_dates{
    width:100%;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;padding:5px 0px;
    background: #fff;margin-top: 5px;box-sizing: border-box;text-align: center;
}
.state_dates:after{
    content: "";
    display: block;
    clear: both;
    height: 0px;
}
.state_date{
   display:inline-block;float: left;width:33%;
}
.state_date > p{
    display: inline-block;line-height: 30px;
}
.state_date_color{
    width:24px;height:24px;margin-left:20px;float: left;margin-top: 3px;
}
.state_date:first-of-type  .state_date_color{
    background:#fc9576 ;
}
.state_date:nth-of-type(2)  .state_date_color{
    background:#59ccc9 ;
}
.state_date:last-of-type  .state_date_color{
    background:#f3f3f3;
}
.site_content_table{
    margin-top: 10px;background: #fff;
}
.site_content_table_header{
    width:100%;border-top:1px solid #e3e3e3;border-bottom: 1px solid #e3e3e3;display:-moz-box;display:-webkit-box;display:box;
}
.site_content_table_header >div{
    width:25%;text-align: center;border-left:1px solid #e3e3e3;box-sizing: border-box;
}
.site_content_table_header > div > span{
    line-height:40px;
}
.site_content_table_body{
    width:100%;margin-top: 5px;
}
.site_content_table_body>div{
    width:100%;display:-moz-box;display:-webkit-box;display:box;
}
.site_content_table_body:first-of-type>div:first-of-type{
    background: #fc9576;line-height: 37px; -moz-box-flex:1.0;-webkit-box-flex:1.0;box-flex:1.0;text-align: center;display: block;
}
.site_content_table_body:nth-of-type(2)>div:first-of-type{
    background: #59ccc9;line-height: 37px; -moz-box-flex:1.0;-webkit-box-flex:1.0;box-flex:1.0;text-align: center;display: block;
}
.site_content_table_body>div:first-of-type>span{
    color:#fff;
}
.site_content_table_body:first-of-type > .state_ordered:nth-of-type(2n){
    background: #ddd;
}
.state_order{
    background: #ECECEC;
}
.state_order:nth-of-type(2n){
    background:#F3F3F3 ;
}
.state_order >div{
    overflow: hidden;vertical-align: middle;line-height: 300%;
}
.state_order > div >a{
    line-height: 110%;text-decoration: underline;
}
.state_order > div >a > span{
    line-height: 330%;
}
/*.site_content_table_body>div:nth-of-type(3){*/
    /*background:#e3e3e3 ;*/
/*}*/
.site_content_table_body>div:nth-of-type(2n)>div,.site_content_table_body>div:nth-of-type(2n+1)>div{
    width:25%;text-align: center;border-left:1px solid #bfbfbf;box-sizing: border-box;overflow: hidden;
}
.state_order div{
    width:25%;text-align: center;border-left:1px solid #bfbfbf;box-sizing: border-box;vertical-align: middle;
    box-sizing: border-box;padding:0 2px;
}
.state_order  span{
    line-height: 200%;font-size: 10px;
}
.site_content_table_body>div:nth-of-type(2)>div>span,.site_content_table_body>div:nth-of-type(3)>div>span{
    line-height: 200%;
}
.site_content_table_body_message{
    box-sizing: border-box;padding:0px 10px;margin-top: 10px;border-top:1px solid #e0e0e0 ;border-bottom:1px solid #e0e0e0 ;
    background: #fff;
}
.site_content_table_body_message div{
    vertical-align: middle;display: table-cell;height:160px;
}
.site_content_table_body_message p{
    font-size: 12px;line-height: 200%;display: block;
}
.state_date_p{
    margin: 0px;
}
.site_footer_tab p{
    margin:0px;
}
.show_dropDown{
    width:140px;background: #fff;position: absolute;z-index:5003;top:0px;opacity: 0; padding:5px;left:0px;
    max-height:214px;overflow: auto;
}
.show_dropDown ul li{
    width:100%;display:block;box-sizing: border-box;padding-left: 5px;line-height: 40px;border-bottom: 1px solid #e0e0e0;
    font-size: 15px;color:#666;
}
.show_dropDown ul li a{
    display: block;color:#000;text-align: left;
}
.show_dropDown ul li:last-of-type{
    border: 0px;
}
.site_cover{
    position: fixed;width:100%;height:100%;z-index:5001;background: rgba(0,0,0,0.5);
}
.none{
    display: none;
}


/*日历样式*/
.site_content_calender{
    height:320px;
}
/*.icon-forward:before{*/
    /*display: none!important;*/
/*}*/
.page-content{
    padding:0px!important;
}
.content-block{
    margin:0px!important;
}
.toolbar-inner{
    width:60%;position: absolute;left:20%;
}
.calendar-custom-toolbar{
    text-align: center;
}
.icon-back,.icon-forward{
    background-image: none!important;color:#666;font-size: 20px;
}
.today-click{
    position: absolute;left:10px; line-height:44px;display: inline-block;padding:0px 10px;
}
.picker-calendar-day-today span,.picker-calendar-day-selected[class*='picker-calendar-day-today'] span{
    background: #ff0000!important;color:#fff;
}
.picker-calendar-day-selected span{
  border: 2px solid #0091ff ;
}
.text-white{
    color:#000!important;
}
.toolbar-inner .center{
    font-size: 15px;
}
.picker-calendar-day{
    padding:3px;
}
.picker-calendar-day>span:first-of-type{
    width: 100%;height: 100%;border-radius: 0px;text-align:left;padding: 5px;box-sizing: border-box;font-size: 10px;line-height: 100%;overflow: hidden;display: block;
}
.picker-calendar-day.picker-calendar-day-selected span{
    border: 1px solid #007aff;
}
.picker-calendar-day .state1,.picker-calendar-day .state2{
    width:100%;height:100%;
}


.picker-calendar-day > span > i{
    display:inline-block;font-size:8px;text-align:right;line-height:100%;width:100%;height:10px;margin-top:9px;
}
.toolbar .week{
    float: left;width:14.28%;display: table-cell;vertical-align: middle;
}
.toolbar .week span{
    line-height: 44px;
}
.state1{
    background: #59ccc9!important;color:#fff;
}
.state2{
    background: #fc9576!important;color:#fff;
}
.picker-calendar-week-day-weekend{
    color:#ff0000;
}
.background_none{
    background: none!important;
}
.order_link{
    display:block;
    line-height: 200%;
}
/*.picker-calendar{*/
    /*height:364px;*/
/*}*/

