html,body,
.container{
    width: 100%;height: 100%;
}
.top{
    position: fixed;
}
.nav-list,.logo{position: absolute;}
.logo{left: 25px;}
.nav-list.fl{left: 105px;}
.nav-list.fr{right: 0;}


.map-container{
    width: 445px;
    position: fixed;
    left: 22px;
    top: 68px;
    z-index: 8;
}
.icon-clean{
    width: 15px;
    height: 15px;
    background-position: -40px 0;
    position: absolute;
    right: 15px;
    top:13px;
}
.a-downup-wrapper{
    width: 22px;
    height: 22px;
    position: absolute;
    right: 0;
    top: 8px;
    cursor: pointer;
}
.a-downup{
    width: 15px;
    height: 10px;
    margin-left: 8px;
    background-position: 0 -25px;
}
.a-up{
    margin-left: 3px;
    transform: rotate(-180deg);
    /*transition: all 0.3s ease-in;*/
}
.delete-btn{
    background-position: -34px -18px;
}
.icon-delete{
    height: 20px;
    margin-right: 6px;
    background-position: -22px -16px;
}

/*搜索框*/
.search{
    margin-bottom: 8px;
    box-shadow: 0 3px 4px #d6dce9;
    position: relative;
}
.select{
    width: 90.5%;
    height: 40px;
    font-family: "microsoft yahei";
    font-size: 12px;
    background: #fff;
    cursor: pointer;
    position: relative;
    z-index: 9;
}
.select .hvselect{
    width: 94%;
    padding:0 3%;
    height: 40px;
    line-height: 40px;
    border: none;
    background: #fff;
    outline: none;
}
.select ul{
    background: #fff;
    width: 100%;
    padding: 13px 0;
    position: absolute;
    top:48px;
    left: 0;
    overflow: hidden;
    display: none;
    box-shadow: 0 3px 4px #d6dce9;
}
.select ul li{
    padding: 0 15px 0 40px;
    line-height: 35px;
    background: url("icon/icon_x.png") no-repeat 13px center;
    cursor: pointer;
}
.select ul li span{color: #999;margin-left: 10px}
.select ul li:hover{
    background-color: #eee;
}
@keyframes slide-down{
    0%{transform: scale(1,0);}
    100%{transform: scale(1,1);}
}
@-webkit-keyframes slide-down{
    0%{transform: scale(1,0);}
    100%{transform: scale(1,1);}
}
.select.open ul{
    display: block;
    transform-origin: 50% 0;
    animation: slide-down 0.3s ease-in;
    -webkit-animation: slide-down 0.3s ease-in;
    transition: max-height 0.2s ease-out;
}
.search-btn{
    display: block;
    width: 9.5%;
    height: 40px;
    background-color: #6d96ee;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
}
.icon-search-btn{
    width: 18px;
    height: 18px;
    background-position: -22px 0;
    margin-left: 12px;
    margin-top: 11px;
}



/**筛选列表**/
.mapsearch-cont{
    width: 397px;
    padding: 24px;
    background-color: #fff;
    box-shadow: 0 3px 4px #d6dce9;

}
.mapsearch-cont-wrap{
    overflow-y: scroll;
    overflow-x:hidden;
    max-height: 850px!important;
}
.mcont-screening{
    width: 100%;
    padding-bottom: 15px;
}
.mcont-screening dl{
    width: 100%;
    padding: 6px 0;
    font-size:12px;
    border-bottom: 1px dashed #f1f1f1;
    position: relative;
}
.mcont-screening dl dt{
    float: left;
    width: 14%;
    color: #000;
    font-size: 100%;
    line-height: 26px;
    font-weight: bold;
}
.mcont-screening dl dd{
    float: left;
    width: 82%;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
}
.mcont-screening dl dd.hauto{
    height: auto;
}
.mcont-screening dl dd>a{
    float: left;
    display: inline-block;
    padding: 2px 6px;
    height: 18px;
    line-height: 18px;
    color: #666;
    margin: 2px 5px;
    font-size:12px;
}
.mcont-screening dl dd>a:hover,.mcont-screening dl dd>a.on{
    background-color: #6b96ef;
    color: #fff;
}

.choice-delete-all{
    position: absolute;
    right: 0;
    top: 9px;
}
.choice-delete-all .delete{
    color: #6b96ef;
}
.choice-delete-all .delete:hover{color: #2262e2;}
.choice-delete-all .icon-delete{
    float: left;
    margin-top: 3px;
}

.mcont-screening .dlchoice{
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
}
.mcont-screening .dlchoice dt{
    margin-right: 5px;
}
.mcont-screening .hv-choice-list{
    /*width: 68%;*/
    width: 84%;
    height: auto;
}
.mcont-screening .hv-choice-list .hv{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    background-color: #fff;
    border: 1px solid #6b96ef;
    color: #999;
    padding-right: 0px;
    margin:0 0 6px 3px;
    padding:0;
    padding-left:5px ;
}
.mcont-screening .hv-choice-list span{
    padding: 0 5px;
}
.mcont-screening .hv-choice-list .delete-btn{
    float: right;
    width: 21px;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #6b96ef;
    display: inline-block;
    margin-left: 5px;
}

/**内容列表**/
.mcont-list-title{
    width: 100%;
    height: 35px;
}
.mcont-list-title>a{
    float: left;
    display: block;
    width: 24.7%;
    line-height: 35px;
    text-align: center;
    color: #666;
    background-color: #eee;
    font-size: 12px;
    border-right: 1px solid #fff;
}
.mcont-list-title>a.active{
    color: #24252f;
    background-color: #ddd;
}
.mcont-list-title .back-list{
    display: block;
    line-height: 40px;
    color: #666;
    padding: 0 20px;
}
.mcont-list-title .back-list span{display: inline-block;vertical-align: middle;}
.icon-sort{
    display: inline-block;
    width: 9px;
    height: 12px;
    background: url("../../img/mapsearch/icon_sort.png") no-repeat;
    margin-left: 5px;
    vertical-align: middle;
}
.icon-list{
    display: inline-block;
    width: 12px;
    height: 10px;
    background: url("../../img/mapsearch/icon_list.png") no-repeat right center;
    margin-right: 5px;

}
.mcont-list-cont{
    padding-top: 10px;
}
.mcont-list-cont>li{
    width: 100%;
    padding: 18px 0;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    position: relative;
}
.mcont-list-cont > li:hover{
    box-shadow:-2px 0 4px #DFE5F7, /*左边阴影*/
    2px 0 4px #DFE5F7, /*右边阴影*/
    0 -2px 4px #DFE5F7, /*顶部阴影*/
    0 2px 4px #DFE5F7; /*底边阴影*/
    margin-left: -21px;
    padding-left: 21px;

    margin-right: -7px;
    padding-right: 7px;
}
.mcont-list-cont>li:last-child{
    border-bottom: none;
}
.mcont-list-cont>li>a{display: block;}
.mcont-img{
    float: left;
    width: 130px;
    height: 85px;
    margin-right: 20px;
}
.mcont-img img{
    width: 100%;
    height: 100%;
}
.mcont-details{
    float: left;
    width: 50%;
    padding-top: 3px;
}
.mcont-details h2{
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mcont-details h2 a{
    color: #666;
}
.mcont-details>p{
    font-size: 12px;
    margin-top: 12px;
    color: #999;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mcont-details .m-info{
    margin-top: 12px;
}
.mcont-details .m-info span{
    display: inline-block;
    font-size: 12px;
    color: #999;
    margin-right: 20px;
}
.mcont-details .m-info .zshu{
    color: #6b96ef;
}
.mcont-inquiry{
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
    cursor: pointer;
}
.mcont-inquiry-details{
    width: 102px;
    padding: 0 12px;
    height: 24px;
    line-height: 24px;
    background-color: #6b96ef;
    border-radius: 12px;
    position: absolute;
    left: 0;
}
.icon-inq-white{
    float: left;
    width: 15px;
    height: 15px;
    background-position: -22px -34px;
    margin-top: 5px;
    margin-right: 2px;
}
.icon-inq-gray{
    width: 18px;
    height: 18px;
    background-position: 0 -34px;
    position: absolute;
    right: 0;
}
.mcont-inquiry p{
    float: left;
    font-size: 12px;
    color: #fff;
}


.map-scale-btn{
    width: 55px;
    height: 130px;
    position: fixed;
    right: 32px;
    top:50%;
    margin-top: -65px;
}
.map-scale-btn .scale{
    width: 55px;
    height: 55px;
    position: absolute;
    opacity: 0.75;
}
.map-scale-btn .scale:hover{
    opacity: 1;
}
.scale-reduce{
    background-position: -110px 0;
    top:0;
}
.scale-enlarge{
    background-position: -55px 0;
    bottom: 0;
}




.tangram-suggestion-main{
    z-index: 88;
}
.tangram-suggestion .route-icon{
    background-position: 0 -12px!important;
}

/*加载中样式*/
.loading{
    width: 120px;
    height: 35px;
    background: rgba(78, 109, 176, 0.9);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top:95px;
    z-index: 100000;
}
.load-gif{
    width: 15px;
    height: 15px;
    margin-left: 16px;
    margin-top: 10px;
    margin-right: 10px;
}
.loading p{
    color: #fff;
    font-size: 16px;
    line-height: 35px;
}
.pagers{
    margin: 25px 0;
}
.mcont-none p{
    color: #999;
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
}
.list-wrap{
    position: absolute;
    top:50px;
    left: 50px;
    z-index: 999999;
}
.tangram-suggestion table tr td{
    text-align: left;
}





















