<?xml version="1.0" encoding="UTF-8"?>
<configuration>
        <system.webServer>
            <httpProtocol>
                 <customHeaders>
                   <add name="Access-Control-Allow-Origin" value="*" />
                   <add name="Access-Control-Allow-Methods" value="POST" />
                   <add name="Access-Control-Allow-Headers" value="content-type" />
                 </customHeaders>
               </httpProtocol>
                <rewrite>
                        <rules>
                                <rule name="temp/禁止访问" stopProcessing="false">
                                        <match url="^temp/(.*)$" ignoreCase="true" />
                                        <action type="Rewrite" url="error/404.html" appendQueryString="false" />
                                </rule>
                                <rule name="tpl文件禁止访问">
                                        <match url="^(.*).tpl" ignoreCase="false" />
                                        <action type="Rewrite" url="error/404.html" appendQueryString="false" />
                                </rule>
                                <rule name="php文件禁止访问">
                                        <match url="^package/(.*).php" ignoreCase="false" />
                                        <action type="Rewrite" url="error/404.html" appendQueryString="false" />
                                </rule>
                                <rule name="_Extends禁止访问">
                                        <match url="^_Extends/(.*)" ignoreCase="false" />
                                        <action type="Rewrite" url="error/404.html" appendQueryString="false" />
                                </rule>
                                <rule name="转发到index.php">
                                        <match url="^(.*)$" ignoreCase="false" />
                                        <conditions logicalGrouping="MatchAll">
                                                <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                                        </conditions>
                                        <action type="Rewrite" url="index.php" appendQueryString="true" />
                                </rule>
                        </rules>
                </rewrite>
        </system.webServer>
</configuration>
