.se_li_list{ padding: 18px 0; border-bottom: 1px dotted #d7d7d7}
.se_li_list .tw{ padding-left: 285px; min-height: 133px;margin-top: 10px}
.se_li_list .tw .fl{width:55%}
.se_li_list .tw h3{ margin-top: 0; font-size: 20px}
.se_li_list .tw span{ display: block; line-height: 26px}
.se_li_list .tw span font{ color:#797676 }
.se_li_list .mene{ width:190px; background:#f2f2f2; padding:20px; margin-right: 15px; border-radius: 4px; }
.se_li_list .mene1{ width:190px; background:#f2f2f2; padding:15px 20px; margin-right: 15px; border-radius: 4px; }
.se_li_list .mene1 p{ margin-bottom: 0px; margin-top: 10px; color: #666;}
.se_li_list .mene p{ color: #666;}
.mene span.mena_m{ font-size: 16px; color: #8B8B41; font-size: 30px; text-align: center;line-height: 56px}
.mene span.mena_m1{ text-align: left; line-height: 22px; padding-bottom: 5px;}
h3 a:hover{ text-decoration: none; color: #428bca;}
.se_li_list .img_list{ width: 264px; max-height: 176px; overflow: hidden;}
.se_li_list .img_list img{ width: 100%}
.p1{ display: none;}
@media  (max-width:1024px){
    .se_li_list .img_list{ width: 150px; max-height: 100px; overflow: hidden;}
    .se_li_list .tw{ padding-left: 168px; margin-top: 0}
    .se_li_list .mene{ padding: 10px;}
    .se_li_list .wz{ max-width: 320px}
}
@media( max-width: 680px){
    .se_li_list{ padding:10px 0px;}
    .se_li_list .img_list{ width: 100%; margin: 0px; max-height: none;}
    .se_li_list .tw{ padding-left: 0px;}
    .se_li_list .tw .wz{max-width: 625px; width: 100%; text-align: center; margin-top: 10px;}
    .se_li_list .mene{ display: none;}
    .size{ visibility: hidden;}
    .mold{ visibility: hidden;}
    .band{ visibility: hidden;}
    .city{ visibility: hidden;}
    .tab1{ visibility: hidden;}
    .tab2{ visibility: hidden;}
    .wz p{ max-height: 20px;}
    .wz .p1{ display: block;}
    .wz .p2{ display: none;}
}

