.footer-outside{ width: 100%;min-width:1180px; background-color: #333; border-top: 4px solid #000; height: auto; overflow: hidden;}
.footer{ margin:20px auto; width: 1180px; height: auto; overflow: hidden;}
.footer_left { float: left; height: auto; overflow: hidden;}
.footer_left li{ float: left; margin-right: 140px; color: #c7c7c7;}
.footer_left li p{ height: 30px; line-height: 30px;}
.footer_left li p a{ color: #9e9e9e;}
.footer_left li p a:hover{color: #fff;}
.footer-item-title{ font-size: 18px; color: #fff; height: 40px;  background: url(../../img/line_icon.jpg) no-repeat bottom left; margin-bottom: 10px;}
.weixin2{ margin-top: 18px;}
.footer_right{ float: right;}
.title_one{ font-size: 18px; color: #fff;}
.title_two{ font-size: 18px; color: #fff; margin-top: 20px;}
.title_content{ font-size: 14px; color: #fff;}
.bottom-outside{ width: 100%; height: 50px; background-color: #000;}
.bottom{ width: 1180px; margin: auto;}
.bottom p{ text-align: center; color: #9e9e9e; line-height: 50px;margin:0;}
.title_content a{ color: #fff;}
.title_content a:hover{text-decoration: underline;}
.bottom a{ color: #9e9e9e;}
/*友情链接*/
.link-outside{ width: 100%; background-color:#f2f2f2;}
.link{ width: 1180px; margin:auto; padding: 30px 0px;}
.link-left{ float: left; color: #24252f; font-weight: bold; margin-right: 40px;}
.link-right{ float: left;}
.link-right li{ float: left; margin-right: 40px;}
.link-right li:last-child{ margin-right: 0px;}
.link-right li a{ color: #636d76;}
.link-right li a:hover{ color: #454c52;}


@media (max-width: 1024px){
    .footer-outside{ display: none;}
    .bottom{ width: 100%;}
}