@charset "utf-8";
*{padding:0;margin:0;}
img{border:none}
ul,li{list-style:none}
a{color:#333;font-size:14px; text-decoration: none;}
a:hover{text-decoration:underline;}
.cl:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}.cl{zoom:1}
.cont{ width:910px; height:580px; border:1px solid #ddd;}
.wrap{width:1180px;margin:0 auto;}

/* sildes css begin */
.control {width:640px;height:450px; display: block;position:absolute;top:0;left:0;overflow:visible!important; margin:60px auto 0 auto;}
.change li{width:640px; text-align:center}
#sildes{ overflow: visible!important;}


/* 图片垂直居中,不是很准确 */
.change li .imgWrap{display: table-cell ;width:640px;height:450px;vertical-align: middle;cursor:pointer;*font-size: 500px;}
.change li img{ width:auto;height:100%;}

/* 描述部分 */
.change li .textDesc{width:50px;height:30px;position:absolute;left:290px;top:-50px;text-align:left;overflow: hidden;}
.change li .opacity{width:100%;height:100px;position:absolute;left:0;bottom:0;background:#000;filter:alpha(opacity=50);opacity:0.5; display:none;}
.change li .title{padding:10px 15px 0; color:#333;font-size:14px;line-height:22px;}
.change li .title a{color:#333; cursor: context-menu; text-decoration:none;}
.change li .text{color:#b7b7b7;line-height:18px;padding:5px 15px;font-size:12px; display:none;}

/* 翻页按钮 */
.prev, .next{width:80px;height:25px;position:absolute;bottom:480px; color:#FFF;font-size:14px; z-index: 9;font-weight:bold; cursor: pointer;outline:none} 
.prev span, .next span{display: none;}
.prev{left:200px; top:-40px; background:url(../../img/brand/arrows_01.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="../images-thumb/arrows_01.png") ; _background:none}
.next{right:200px; top:-40px; background:url(../../img/brand/arrows_02.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="../images-thumb/arrows_02.png") ; _background:none}

/* 分页 */
.pageClass{text-align:center;z-index: 9;position:absolute;top:50px;padding-top:10px;}
.pageClass a{display: inline-block; width:10px;height:10px;margin:0 3px;overflow:hidden; border:1px solid #bebebe;background:#bebebe ;border-radius:5px;outline:none}
.pageClass a span{display:none}
.pageClass a:hover,.pageClass a.cur{border:1px solid #be230a;background:#be230a }

/* 缩图部分 */
.thumbWrap{width:250px;height:500px;padding:39px 0;position:absolute;right:0;top:-195px;overflow: hidden; border:1px solid #ddd;}
.thumbWrap .thumbCont{width:100%;height:430px;position:relative;overflow: hidden; margin-top:50px;}
.thumbWrap ul{}
.thumbWrap ul li{width:166px;height:106px;padding:10px;text-align:center;overflow: hidden; margin:0 auto 20px auto; border:1px solid #ddd;}
.thumbWrap ul li div{display: table-cell ;width:166px;height:106px;vertical-align: middle;cursor:pointer;*font-size: 79px;}

.thumbWrap ul li img { height:100%; width:auto;}

.thumbWrap ul li.cur{background:url(../../img/brand/curBg.gif) no-repeat}

/* 缩图按钮 */
.thumbPrev,.thumbNext{width:190px;height:23px;text-align:center;position:absolute;color:#000;z-index: 9; outline:none}
.thumbPrev span, .thumbNext span{display: none;}

.thumbPrev{left:30px;top:50px;background:url(../../img/brand/Yprev.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="../images-thumb/Yprev.png") ; _background:none}
.thumbNext{left:30px;bottom:20px;background:url(../../img/brand/Ynext.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="../images-thumb/Ynext.png") ; _background:none}


.all-pic{ position:absolute; top:15px; left:30px; font-size:14px; color:#535353; z-index:1111;}
.show-title{ font-size: 18px; color: #666; margin-bottom: 20px;}