.clear,.f-cl{ clear:both;}
.fl{ float:left;}
.fr{ float:right;}

.money_a { margin-bottom: 30px;}
/*-----我的钱包----*/
.top_a {height: 50px; border-bottom: 2px solid #808080;}
.top_a h4 { font-weight:bold; color:#000;font-size: 18px;line-height: 50px;}
.top_a span { line-height:40px; padding-left: 15px}
.panel-heading{width: 100%;height: 20px;line-height:20px;padding:18px 0;background: #eee;}
.panel-heading h5{margin-left: 20px;float: left;}
.panel-default{border: 1px solid #ddd;border-radius: 5px;margin-bottom: 20px;}
.panel-body{padding: 20px;}
.panel-body .col-md-2{width: 12%;}
.panel-body .col-md-8{width: 60%;}
.panel-body .col-md-10{width: 80%;}
.pay_content>h5{margin-top: 15px;}
.wd_b1{padding: 30px 0;}

.top_b { padding-top: 15px;}
.top_b_1 { border-bottom: 1px solid #e8e8e8; padding-bottom:15px;}
.b_b { margin-top: 10px;}
.b_b1 span { font-weight: bold; color: #4d4d4d; font-size: 24px; padding-top: 10px; padding-right: 15px;}
.b_b2 { padding-left: 180px;}
.b_b2 a { padding: 5px 15px; background:#2c99ff; color: #ffffff; }
.b_b2 span { padding-left: 15px; color: #2c99ff;}
.b_c { padding:15px 0px;}
.radio-inline{ height: 30px; width: 225px;}

/*-----账户收支明细----*/
.top_a  a { line-height:40px; padding-left: 15px;}
.sz_a1 { padding: 15px 0px; }
.sz_a1 select { width: 150px; height: 30px; margin-right: 15px; }
.sz_a1 span b { font-size: 18px; }

/*-----账户提现----*/
.top_a span b { font-size: 18px;}
.wd { margin: 15px;}
.wd_b1 p{  border:1px solid #e8e8e8; height: 40px; background: #fcfcfd; padding-left:10px; line-height: 40px;}
.wd_b1_a { font-size: 14px; text-align: right;  width: 100px;height: 32px;line-height: 32px; margin-right: 20px;}
.wd_b1_b { width: 600px;}
.wd_b2 { margin-top: 20px; }
.wd_b2 a { font-size:18px; padding: 5px 15px; background:#2c99ff; color: #ffffff;}
.wd_b3 input { padding-left:10px; width: 200px;}
.wd_b3 span { padding-left: 15px;}
.wd_b4 span { color: #2c99ff; font-size: 14px; font-weight: bold;}
.wd_b5 { margin: 20px 0px 0px 120px; }
.wd_b5 button { font-size:18px; padding:10px 72px;background: #ff308d; color: #fff; border: 0;cursor: pointer;}
.wd_b5 button:hover{background: #f20c74;}

/*-----确认账户提现信息----*/
.cf_b1{padding-top: 20px;}
.cf_b1_b b { font-size: 16px}
.con_b2 span{  color: #2c99ff; font-size: 16px; font-weight: bold;}
.con_b3 {font-size: 14px; color:#f54545; }
.con_b4 input { padding-left: 10px; width: 200px;height: 30px; margin-bottom: 10px;}
.con_b4 a { padding-left: 15px;color: #2284e9;}
.con_b4 .pay_warning { padding-left:90px;}

/*-----选择银行卡付款----*/
.ch { padding-top: 15px; }
.ch_b { background: #f3f6fd; padding: 5px 0px;line-height: 40px;}
.ch_b h4 { padding-left: 20px; }
.ch_b h5 { padding-right: 20px;}
.ch_b h5 span { font-size:24px; font-weight: bold; padding-right: 10px; color: #f54545}
.ch_c { margin-top: 20px; border-top: 1px solid #e8e8e8;  padding:30px 20px 20px;}
.ch_c p {padding:10px 0; color: #888;}
.ch_ca {padding-bottom:20px; border-bottom:1px solid #e8e8e8; }
/*.ch_ca ul{width: 510px;}*/
.ch_ca b { font-size: 14px; color:#f54545;  }
.ch_ca li { padding-top: 15px;float: left;width:255px;list-style: none}
.ch_ca input { margin-right: 10px;}
.ch_c .row{ margin: 8px 0px;}
.price_m{ font-size: 20px; font-weight: bold;}
.choose{ margin: 8px 0px;}


/*银行转账*/
.pay_transfer .row{
    height: 35px;
    margin-bottom: 10px;
}
.pay_transfer .col-md-2{
    float: left;
    width: 15%;
    height: 35px;
    line-height: 35px;
}
.pay_transfer .col-md-10{
    float: left;
    width: 80%;
    /*height: 35px;*/
    line-height: 35px;
}
.pay_transfer .col-md-10 .form-control{
    width: 80%;
    height: 33px;
    padding-left: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.pay_transfer .col-md-10 button{cursor: pointer;}
.pay_transfer .btn-success{
    border: none;
    width: 120px;
    height: 35px;
    line-height: 35px;
    margin-top: 10px;
}

/*微信支付*/
.pay_wechat{
    height: 300px;
    margin-bottom: 10px;
    padding: 50px 60px;

}
.pay_wechat .wechat_w1{
    border:1px solid #eee;
    width:220px;
    height:275px;
}
.pay_wechat .wechat_note1,.pay_wechat .wechat_note2{
    display: inline-block;
    width: 220px;
    text-align: center;
    padding-top:5px ;
    /*padding-bottom:5px ;*/
}
.pay_wechat .wechat_note2{
    font-size: 12px;
}


