*{
    padding: 0px;
    margin: 0px;
}
.clear{
    clear: both;
}
ul li{
    list-style: none;
}
a {
    text-decoration: none;
}
.crumb{
    width: 1180px;
    margin: auto;
    height: 60px;
    line-height: 60px;
    color: #666666;
    margin-left: -15px;
}
.crumb a{
    color: #666666;
    font-size: 14px;
    margin: 0 15px;
}
.crumb a.active{
    color: #4e6db0;
}
.head{
    width: 100%;
    height: 509px;
    position: relative;
}
.head img{
    width: 1920px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -960px;
}
.title{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.content_outside1{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 60px 0px;
}
.content{
    width: 1180px;
    height: auto;
    overflow: hidden;
    margin: auto;
}
.ul_title1{
    width: 1320px;
    margin: 60px auto;
}
.ul_title1 li{
    width: 300px;
    margin-right: 140px;
    float: left;
    height: auto;
    overflow: hidden;
}
.ul_img1{
    text-align: center;
}
.ul_word1{
    font-size: 12px;
    line-height: 22px;
    margin-top: 20px;
}
.word1{
    font-size: 14px;
    color: #ff0000;
    text-align: center;
    margin: 0px auto 40px auto;
}
.word1 span{
    font-weight: bold;
}
.line{
    width:960px;
    margin: auto;
    border-top:1px solid #eee;
}
.word2{
    font-size: 14px;
    color: #333;
    text-align: center;
    margin-top: 30px;
}
.word2 span{
    color: #ff0000;
    font-size: 16px;
}
.ul_word2{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
.content_outside2{
    width: 100%;
    height: auto;
    padding: 60px 0px;
    background-color: #fbfbfb;
    position: relative;
}
.container{
    width: 990px;
    height: auto;
    overflow: hidden;
    margin: auto;
}
.ul_title2{
    width:1110px;
    margin: 60px auto 30px auto;
}
.ul_title2 li{
    width: 290px;
    padding: 0px 10px;
    height: 330px;
    background-color: #fff;
    border: 1px solid #eee;
    box-sizing: border-box;
    margin-right: 60px;
    float: left;
}
.ul_img2{
    text-align: center;
    margin: 20px auto 10px auto;
}
.ul_title3{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.ul_word3_left{
    float: left;
    width: 160px;
    font-size: 14px;
    line-height: 60px;
}
.ul_word3_right{
    float: left;
    font-size: 14px;
    line-height: 60px;
}
.ul_word3{
    padding: 10px;
    height: auto;
    overflow: hidden;
}
.content1{
    width: 390px;
    height: 280px;
    border: 1px solid #eee;
    box-sizing: border-box;
    padding: 15px 20px;
    float: left;
    margin-right: 40px;
    background-color: #fff;
    margin-bottom: 30px;
}
.content2{
    width: 540px;
    height: 280px;
    padding: 15px 20px;
    border: 1px solid #eee;
    box-sizing: border-box;
    float: right;
    background-color: #fff;
    margin-bottom: 30px;
}
.title1{
    font-size: 14px;
    color: #1f9bf7;
    margin-bottom: 20px;
}
.word6{
    font-size: 12px;
    line-height: 24px;
}
.word7{
    height: auto;
    overflow: hidden;
}
.word7_left{
    float: left;
    font-size: 14px;
    line-height: 40px;
    width: 340px;
}
.word7_right{
    float: left;
    font-size: 14px;
    line-height: 40px;
}
.tag1{
    position: absolute;
    width: 196px;
    height: 145px;
    top: -10px;
    left: 25%;
    z-index: 111;
}
.content4{
    width: 810px;
    height: auto;
    overflow: visible;
    padding: 30px 30px;
    background-color: #fbfbfb;
    margin: 50px auto 50px auto;
    position: relative;

}
.content4_img{
    float: left;
}
.content4_word{
    float: left;
    font-size: 12px;
    line-height: 24px;
    color: #333;
    width: 500px;
}
.mr{
    margin-right: 30px;
}
.tag2{
    position: absolute;
    top: -28px;
    left: -28px;
}
.tag3{
    position: absolute;
    top: -28px;
    right: -28px;
}
.joint{
    width: 560px;
    height: 280px;
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -520px;
    top: 118px;
    z-index: 1;
}