/*header新*/
*{margin:0px;padding:0px;}
.more-list > li > a:hover{
    color:rgb(69, 229, 227);
}
.city_guide > li >a{
    font-size: 12px;
}
.par4{
    font-size:12px;line-height: 32px;
}
.city-more{
    line-height: 40px;
}
.city-more span{
    font-weight: bold;font-size: 12px;line-height: 32px;
}
.city_guide li{
    line-height: 32px!important;
}
.top{
    height:32px;
}
.service > li >a{
    font-size: 12px;
}
/*.search{*/
/*width:50%;float: right;*/
/*}*/
.find-room{
    height:40px;border: 1px solid #f2f2f2;float: right;
}
.f-p{
    float: left;width:10%;line-height: 40px;text-align: center;font-size: 12px;
}
.f-method{
    float:left;line-height: 40px;position: relative;
}
.f-method-select-1{
    width:35%
}
.f-method-select-2{
    width:20%;font-size: 10px;
}
.f-method-button{
    width:25%;
}
.f-method-button button{
    display: block;line-height: 40px;border: 0px;width:100%;text-align: center;background:#25252f ;color:#fff;
}
.c-s-c-s-con{
    color:#989898;cursor: pointer;position: relative;
}
.c-s-c-s-con span{
    position: absolute;right:10px;top:0px;
}
.f-m-result{
    height:40px;cursor: pointer;
}
.f-m-result span{
    color:#989898;display: block;width:5px;position: absolute;right:5px;top:0px;
}
.f-m-result input{
    width:100%;line-height: 30px;border: 0px;padding: 0px 10px;box-sizing: border-box;font-size: 12px;
}
.carousel-gui{
    width:40px!important;height:2px!important;background: rgba(0,0,0,0.3);margin:0px!important;
}
.carousel-indicators .active{
    background: #fff!important;
}
.range-room-bg{
    width:100%;position: absolute;left:0;bottom:0px;padding-top:15px;padding-bottom: 15px;
}
.range-room{
    width:100%;height:60px;background: rgba(255,255,255,0.1);padding: 5px;opacity: 0;
    transition: all 0.4s;-webkit-transition: all 0.4s;-moz-transition: all 0.4s;-o-transition: all 0.4s;
}
.range-room-active{
    width:774px;opacity: 1;margin:0 auto;
}
.range-room-con{
    width:100%;height:100%;background: #fff;padding:10px;padding-left:3%;padding-right:3%;box-sizing: border-box;
}
.r-r-select{
    float:left;width:23%;cursor: pointer;box-sizing: border-box;position: relative;
}
.r-r-p{
    float:left;width:10%;text-align: center;line-height: 40px;font-size: 18px;
}
.r-r-button{
    float:left;width:20%;text-align: center;margin-left:10%;
}
.r-r-button button{
    width:100%;height:100%;line-height: 40px;background:#fe6a3a;border:0px;cursor: pointer;
    color: #fff;
}
.r-r-s-title{
    line-height: 40px;color:#acacac;font-size: 18px;box-sizing: border-box;padding-left: 10%;position: relative;
}
.r-r-s-title div{
    font-size:18px;
}
.r-r-s-title span{
    line-height: 40px;
    float: right;position: absolute;right:5px;top:0px;
}
.header-find-room{
    width:100%;position: fixed;z-index:10000;top:0px;
}
.h-f-r-container{
    width:1180px;margin:0 auto;margin-top:12.5px;margin-bottom: 12.5px;
}
.h-container-con{
    width:100%;overflow: hidden;
}
.h-f-r-c-logo{
    width:20%;float:left;height:35px;
}
.h-f-r-c-logo img{
    height:34px;width:auto;
}
.h-f-r-c-search{
    width:58%;float:left;
}
.h-f-r-c-phone{
    width:20%;float:left;text-align: right;color:#fff;line-height: 35px;margin-left: 2%;font-size: 14px;
}
.c-s-con{
    float: left;width:68%;margin-right: 2%;background: #fff;
}
.c-s-button-activity{
    float: left;width:30%;position: relative;
}
.c-s-button-activity p{
    width:100%;height:100%;background: #fe6a3a;color:#fff;line-height: 40px;font-size: 18px;border: 0px;text-align: center;cursor: pointer;
}
.c-s-button-activity button span{
    font-size: 18px;
}
.b-a-active{
    background: none!important;border: 1px solid #fff!important;
}
.c-s-c-p{
    width:10%;float: left;text-align: center;line-height: 35px;
}
.c-s-c-select2{
    width:25%;float: left;text-align: center;cursor:pointer;color:#989898;position: relative;
}
.c-s-c-button{
    width:25%;float: left;
}
.c-s-c-button button{
    text-align: center;width:100%;line-height: 35px;display: block;border: 0px;background: #07e1e2;color:#fff;font-size: 13px;cursor: pointer;
}
.c-s-c-button button span{
    font-size: 18px;
}
.c-s-c-s-con{
    line-height: 35px;text-align: left;
}
.c-s-c-s-con span{
    float: right;
}
.c-s-c-s-con input{
    width:92%;line-height: 30px;border: 0px;padding: 0px 5px;
}
.need-activity{
    width:100%;
}
.n-activity-con{
    width:70%;height:60px;margin: 0 auto;
    background: rgba(202,87,87,0.5);
    padding: 5px;margin-top: 25px;
}
.triangle-down {
    width: 0;position: absolute;left:50%;top:50px;margin-left: -7.5px;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #fff;
}
.n-a-con-body{
    width:100%;height:100%;background: #fff;padding:10px;padding-left:3%;padding-right:3%;box-sizing: border-box;
}
.hide{
    display: none;
}
.city-select{
    width:400px;border:1px solid #f5f5f5;background: #fff;position: absolute;box-shadow: 1px 1px 1px #ddd;z-index:99;
}
.city-select li{
    width:20%;text-align: center;line-height:32px;
}
.city-select li{
    font-size: 12px!important;
}
.city-select li a{
    font-size: 12px!important;
}
.f-m-s-result1{
    position: absolute;top:40px;background: #fff;left:0px;z-index: 999;width:100%;
}
.f-m-s-result1 ul li{
    font-size: 12px;
}
.f-m-s-result1 ul{
    width:90%;margin-right:5px;height:205px;overflow: auto;
}
.f-m-s-result1 ul::-webkit-scrollbar,.drop-down-home ul::-webkit-scrollbar,.demand-submit::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
    margin-right: 10px;
}
.f-m-s-result1 ul::-webkit-scrollbar-track-piece,.drop-down-home ul::-webkit-scrollbar-track-piece,.demand-submit::-webkit-scrollbar-track-piece
{
    background-color: #f5f5f5;
}
.f-m-s-result1 ul::-webkit-scrollbar-thumb:vertical,.drop-down-home ul::-webkit-scrollbar-thumb:vertical,.demand-submit::-webkit-scrollbar-thumb:vertical
{
    height: 10px;
    width:10px;
    background-color: #ddd;
    border-radius: 10px;
}
.f-m-s-result1 > ul > li{
    width:100%;line-height: 40px;padding-left: 10%;box-sizing: border-box;border-bottom: 1px dashed #eee;text-align: left;
}
.far > li{
    font-size: 12px!important;
}
.drop-down-home{
    width:100%;position: absolute;top:30px;left:0px;box-shadow: 0px 1px 1px #ededed;border: 1px solid #c4c4c4;
    border-top:0px ;z-index:12000!important;
}
.drop-down-home > ul{
    height:245px;overflow: auto;margin-right: 10%;z-index: 15000!important;
}
.drop-down-home > ul > li{
    width:100%;line-height: 40px;padding-left: 10%;box-sizing: border-box;border-bottom: 1px dashed #eee;font-size: 14px; color:#999;
}
.drop-down-home > ul > li:hover{
    color:#000;
}
.drop-down-home > ul li:last-of-type{
    border: 0px;
}
.select-click > span{
    transition: all 0.2s;-webkit-transition: all 0.2s;-o-transition: all 0.2s;-moz-transition: all 0.2s;display: block;
    transform: rotate(0deg);-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);
}
.s-s-active{
    transform: rotate(180deg)!important;-webkit-transform: rotate(180deg)!important;-moz-transform: rotate(180deg)!important;
    -o-transform: rotate(180deg)!important;
}
.dropDown{z-index:12000!important;}
.dropDown ul{z-index:12000!important;}
.dropDown li{
    cursor: pointer;
}
.icon-mouse{
    width:40px;height:40px!important;position: absolute;top:0px;z-index:999;left:50%;top:350px;margin-left: -20px;
    transition: all 0.2s; -moz-transition: all 0.2s; -webkit-transition: all 0.2s; -o-transition: all 0.2s;
}
.mouse-jump{
    animation:jump .5s ease-in;
    -moz-animation:jump .5s ease-in; /* Firefox */
    -webkit-animation:jump .5s ease-in; /* Safari and Chrome */
    -o-animation:jump .5s ease-in; /* Opera */
}
@-webkit-keyframes jump{
    0%{
        top:320px;
    }
    50%{
        top:350px
    }
    80%{
        top:340px;
    }
    100%{
        top:350px;
    }
}
@keyframes jump{
    0%{
        top:320px;
    }
    50%{
        top:350px
    }
    80%{
        top:340px;
    }
    100%{
        top:350px;
    }
}
@-o-keyframes jump{
    0%{
        top:320px;
    }
    50%{
        top:350px
    }
    80%{
        top:340px;
    }
    100%{
        top:250px;
    }
}
@-moz-keyframes jump{
    0%{
        top:320px;
    }
    50%{
        top:350px
    }
    80%{
        top:340px;
    }
    100%{
        top:350px;
    }
}
.icon-mouse img{
    width:40px;height:40px;
}
.carousel{
    height:558px;
}
.carousel-inner{
    height:100%!important;
}
.item{
    height:100%;
}
.item img{
    height:100%;
}
.party-title{
    line-height: 20px;color:#fff;text-align: center;font-size: 13px;
}

/*.span-active{*/
/*transform: rotate(180deg)!important;-webkit-transform: rotate(180deg)!important;-moz-transform: rotate(180deg)!important;*/
/*-o-transform: rotate(180deg)!important;*/
/*}*/

.contain{ width: 1180px; margin: auto;}

/*首页站内优化*/
.function{ width: 1180px; margin:65px auto; overflow: hidden;}
.function-content{ width:1228px;}
.function-list{ width: 259px; height: auto; overflow: hidden; margin-right: 48px; float: left;}
.function-title{ font-size: 16px; color: #24252f; height: 40px; background: url(../../img/home.v2.0/icon_line.jpg) no-repeat bottom left;}
.function-list-content li{ height: 50px; line-height: 60px; border-bottom: 1px dashed #e3e4e6; color: #666;}
.function-list-content li:last-child{ border-bottom: none;}
.function-list-content li a{ color: #666; width: 100%; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.function-list-content li a:hover{ color: #24252f;}

/*首页名企合作区*/
.brand{ width: 1180px;height: 156px;border: 1px solid #eaeaea;margin:60px auto;}
.brand-title{float:left;width:178px;height: 156px;line-height:156px;border-right: 1px solid #eaeaea;font-size: 20px; color: #24252f;text-align: center;}
.brand-content{float:left;margin: 8px 5px;}

/*精心推荐*/
.tag{
    overflow: hidden;margin-top: 50px;margin-bottom:30px;
}
.tag ul{
    overflow: hidden;height:114px;
}
.tag li {
    width: 14.25%;
    float: left;
    text-align: center;
    height: 228px;
}
.tag li > a{
    display: block;width:110px;height:111px;margin: 0 auto;
}
.t-l-icon{
    /*height: 30px;*/
}
.t-l-p{
    line-height: 55px;color:#a1a5b1;
}
.home-ga{
    margin:40px 0px;
}
.recommend-product{
    /*height:530px;*/overflow: hidden;position: relative;
}
.rec-header{
    height:40px;overflow: hidden;margin-bottom: 20px;
}
.rec-title{
    width:23%;display: block;line-height: 40px;color:#06e1e3;font-size: 25px;font-weight: bold;float: left;
}
.rec-title span{
    color:#f36616;font-size: 15px;padding-top: 25px;font-weight: normal;
}
.rec-header-img{
    padding-top:20px;float: left;width:77%;padding-left:13px;box-sizing: border-box;
}
.rec-header-img img{
    width:100%;
}
.rec-img-1{
    width:20%;height:530px;float: left;background: #fff;
}
.rec-img-1 a,.rec-img-2 a,.rec-img-3 a{
    display: block;background: #EEEEEE;
}
.rec-img-1-img{
    height:350px;
}
.rec-img-1-img img{
    width:100%;height:350px;
}
.rec-img-1-list{
    padding:20px 15px;margin-top: 20px;padding-bottom: 25px;
    overflow: hidden;background: #eee;
}
.rec-img-1-list li{
    width:50%;float: left;position: relative; text-align: center;
}
.rec-img-1-list li:first-of-type > img{
    position: absolute;top:3px;right:35px;
}
.rec-img-1-list li > a{
    display: block;line-height: 40px;width:100%;color:#000;
}
.rec-img-1-list li > a:visited{
    background:#eee!important;
}
.rec-img-1-list li > a:hover{
    color:rgb(161, 165, 177);
}
.rec-img-1-list li > a:visited{
    background: none;
}
.rec-img-2{
    float:left;width:55%;padding: 0px 13px;box-sizing: border-box;
}
.rec-img-2-1{
    height:280px;margin-bottom: 13px;
}
.rec-img-2-1 img{
    width:100%;height:100%
}
.rec-img-2-2{
    height:237px;float: left;width:49%;margin-right:1%;background: #ddd;
}
.rec-img-2-2 img{
    width:100%;height:100%;
}
.rec-img-2-3{
    height:237px;float: left;width:49%;margin-left:1%;background: #ddd;
}
.rec-img-2-3 img{
    width:100%;height:100%;
}
.rec-img-3{
    float:left;width:25%;
}
.rec-img-3-1{
    height:280px;margin-bottom: 13px;
}
.rec-img-3-1 img{
    width:100%;height:100%
}
.rec-img-3-2{
    height:237px;
}
.rec-img-3-2 img{
    width:100%;height:100%
}
.product-con-header{
    overflow: hidden;border-bottom: 1px dotted #DDDDDD;z-index:555;
}
.product-con{
    margin-top: 20px;position: relative;overflow: hidden;
}
.p-c-h-title{
    width:30%;float: left;
}
.p-c-h-title p{
    font-size: 20px;color:#f3548e;margin-left: 10px;display: block;float: left;line-height: 60px;
}
.more-list{
    width:38%;float: right;
}
.more-list > li{
    width:16%;float: left;
}
.more-list > li > a{
    display: block;line-height: 60px;text-align: center;color:#616274;font-size: 14px;
}
.more-list > li:last-of-type > a{
    color:#9fa3ae;text-align: right;font-size:13px;
}
.pro-con-body{
    margin-top: 20px;overflow-x: hidden;padding-bottom: 10px;
}
.pro-con-body li{
    width:23.5%;margin-right: 2%;float: left;height:310px;position: relative;box-shadow: 0px 3px 3px #eee;background: #ddd;
}
.pro-con-body li:last-of-type{
    margin-right: 0px;
}
.pro-con-body li img{
    width:100%;height: 100%;
}
.product-name-title{
    position: absolute;bottom:0px;left:0px;height:90px;background:#fff;width:100%;opacity: 0.9;filter:alpha(opacity=90);
    transition: all 0.4s;-webkit-transition: all 0.4s;-o-transition: all 0.4s;-moz-transition: all 0.4s;
}
/*.product-name-des{*/
/*position: relative;*/
/*}*/
.p-name{
    position: absolute;left:50%;width:80%;margin-left:-40%;bottom:15px;
    transition: all 0.4s;-webkit-transition: all 0.4s;-o-transition: all 0.4s;-moz-transition: all 0.4s;
}
.p-name-active{
    bottom:150px;color:#fff;
}
.product-name-title-active{
    height:100%;background: rgba(0,0,0,0.5);
}
.p-n-d-1{
    text-align: center;line-height: 27px;font-weight: bold;color:#000;
}
.p-n-d-2{
    text-align: center;line-height: 27px;color:#000;
}
.p-n-d-1-active{
    color:#fff;
}
.p-n-d-2-active{
    color:#fff
}
.p-n-d-3{
    color:#fff732;line-height: 30px;font-weight: bold;font-size: 18px;position: absolute;
    bottom:15px;text-align: center;width:80%;left:50%;margin-left:-40%;
}
.p-n-d-3 a{
    display: block;width:60%;line-height: 30px;background: rgb(161, 165, 177);border: 0px;margin: 0 auto;color:#fff;cursor: pointer;
}
.p-n-d-3 a:hover{
    background: #fff;color:#000;
}
.icon-tip{
    transition: all 0.4s;-webkit-transition: all 0.4s;-o-transition: all 0.4s;-moz-transition: all 0.4s;
}
.mao-all{
    position: fixed;margin-left:-60px;top:20%;
}
.mao-all li{
    width:30px;
}
.mao{
    display: block;line-height: 30px;font-size: 12px;border-bottom: 1px dotted #9fa3ae;color:#a1a5b1;
}
.mao-active{
    color:#46e6e6
}
.cov{
    width:100%;height:100%;background: rgba(0,0,0,0.7);position: absolute;left:0px;top:0px;display: none;
}
.cov-title{
    position: absolute;text-align: center;line-height: 50px;font-size: 25px;color:#fff;width:100%;top:50%;margin-top:-25px;z-index:99
}
.cov-des{
    position: absolute;top:60%;text-align: center;line-height: 18px;font-size: 12px;width:80%;left:50%;margin-left: -40%;color:#fff;opacity: 0;
}
.cov-btn{
    position: absolute;bottom:-30px;text-align: center;line-height: 50px;font-size: 15px;width:100px;left:50%;margin-left: -50px;opacity: 0;

    line-height: 30px;text-align: center;display: block;border: 0px;background:rgb(161, 165, 177);color:#fff;
}
.cov-btn:hover{
    background: #fff;color:#000;
}
.cov-btn a{
    color: #fff;
    background:rgb(161, 165, 177);
}
.cov-btn a:hover{
    background: #fff;color:#000;
}
.cov-btn a:visited{
    background: rgb(161, 165, 177);color:#fff;
}
.relatives{
    position: relative;
}
/*提交需求*/
.cover-body{
    position: fixed;left:0px;top:0px;width:100%;height:100%;z-index:11000;background: rgba(0,0,0,0.5);
}
.demand-body{
    position:fixed;z-index:11111;margin:0 auto; background: #fff;left:50%;top:-130%;width:500px;padding-bottom: 50px;display: none;
}
.demand-submit{
    overflow: hidden;width:90%;margin:0 auto;margin-right: 28px;height:90%;margin-top: 10%;position: relative;overflow-x:hidden;
}
.demand-close{
    position: absolute;right:13px;top:16px;cursor: pointer;width:20px;height:20px;text-align: center;line-height: 20px;
}
.demand-close span{
    font-size: 15px;
}
.d-s-body{
    width:80%;height:70%;margin:0 auto;
}
.d-s-form{
    margin-bottom: 10px;position: relative;width:100%
}
.d-s-name{
    width:25%;float: left;line-height: 30px;text-align: left;font-size: 14px;
}
.d-s-input{
    width:73%;border: 1px solid #c4c4c4;float: left;position: relative;height: 30px;margin-left: 1%;
}
.d-s-input input{
    width:100%;box-sizing: border-box;border: 0px;line-height: 30px;padding:0px 15px;font-size: 13px;
}
.d-s-input textarea{
    width:100%;box-sizing: border-box;border: 0px;line-height: 40px;padding:0px 5px;max-height: 80px;
}
.d-s-input select{
    width:100%;box-sizing: border-box;border: 0px;height: 40px;padding:0px 5px;
}
.d-s-input input.check-protocol  {
    width:inherit;
    position: absolute;
    margin:4px 0 0 -22px;
}
.d-s-input label{
    position: absolute;
    margin-left: 20px;
}
.d-s-button{
    width:100%
}
.d-s-button button{
    display: block;width:70%;margin: 0 auto;line-height: 40px;border: 0px;background: #06e1e1;color:#fff;font-size: 18px;
    cursor: pointer;
}
.d-s-title{
    line-height: 40px;text-align: center;font-size: 25px;
}
.d-s-input-val{
    line-height: 30px;padding-left:15px;position: relative;
}
.per-num{
    width:100%;position: absolute;left:0px;top:40px;
}
.pre-range li{
    padding-left: 15px!important;
}
.p-r-icon{
    position: absolute;display: inline;right:15px;top:0px;
}
.d-s-error{
    padding-left: 26%;color:#ff0000;padding-top: 5px;
}
.p-mao{
    position: absolute;width: 100%;height:100px;top:-100px;z-index:0!important;
}
.submit-success{
    position: fixed;width:510px;height:300px;background: #fff;left:50%;top:50%;margin-top: -150px;margin-left: -200px;z-index:14000;
    padding:20px;z-index:13000;
}
.success-title{
    line-height: 40px;font-size: 23px;text-align: center;color:#06e1e3;margin-top: 20px;
}
.success-title > span{
    font-size: 25px;
}
.success-con{
    line-height:30px;font-size: 20px;text-align: center;margin-bottom: 20px;font-size: 15px;color:#858585;
}
.success-btn{
    width:100%;margin: 0 auto;border-top: 1px dashed #ddd;
}
.success-btn > p{
    display: block;text-align: center;width:100%;padding: 20px 0px;
    color: #999999;
}
.home_question > p{
    padding:10px 0px;padding-left: 15px;font-weight: bold;
}
/*.home_question > lebal{*/
/*display: block;*/
/*padding: 10px 0px;padding-left: 40px;*/
/*}*/
.radio{
    display: block;
    padding: 10px 0px;padding-left: 40px;cursor: pointer;
}
.success-btn button{
    line-height: 30px;width:100%;border: 1px solid #000;text-align: center;background: none;
}
.success-btn button:hover{
    background: #000;border: 1px solid #fff;color:#fff;
}
.ui-icon{
    z-index:16000
}
.demand-back{
    text-align: center;color:rgb(69, 229, 227);line-height: 30px;cursor: pointer;
}
.date-picker{
    margin: auto; float: left;position:absolute;left:26%;top:-73px;border:1px solid #777;z-index:14000!important;background: #fff;width:224px;
}
.date-picker > div{
    border: 0px!important;
}
.cover-t{
    overflow: hidden;
}
.form-coder{
    width:50%;float:left
}
.form-coder img{
    width:100%;height:auto;
}
.form-coder p{
    margin-top: 10px;
    padding:10px;line-height: 28px;font-size: 14px;
}
.form-coder p b{
    font-size: 18px;
}
/*.err{*/
/*border: 1px solid #ff0000!important;*/
/*}*/
@media (max-width: 1024px){
    .h-f-r-container{width:1024px;!important;}
    .h-f-r-c-phone{text-align: left;padding-left: 20px;box-sizing: border-box}
    .range-room{width:80%;left:10%}
    .range-room-active{margin-left:10%}
}