body{background: #f2f2f2;max-width: 640px;margin: 0 auto;}
p, span, a, button, h1, h2, h3, h4, h5, h6, input,textarea,select{font-family: "黑体";}
input,textarea,select{-webkit-appearance:none;outline: none;}
html{position: relative;}

.demand-tit{
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
}
.demand-tit .numb{
    width: 100%;
    margin-bottom: 3px;
}
.demand-tit h5{
    float: left;
    width: 80%;
    font-size: 16px;
    color: #fe6a3a;
    font-family:"Arial";
}
.demand-tit h3{
    font-size: 16px;
    color: #fe6a3a;
}
.demand-tit p{margin: 10px 0 12px;color: #999;}
.quote-needs-list{
    padding: 15px;
    padding-bottom: 0;
    background: #fff;
    margin-bottom: 15px;
    border-top:1px solid #e5e5e5;
}
.quote-needs-list>p{
    width: 100%;
    margin: 12px 0;
    color: #999;
    line-height: 1.2em;
}
.quote-p{overflow: hidden;margin-top: 15px;}
.quote-p p span{display: inline-block;}
.quote-p .tit{width: 21%;vertical-align: top;}
.quote-p .ct{width: 79%;color: #4d4d4d;}
.quote-p .bq{
    color: #4d4d4d;
    background: #e8e8e8;
    padding: 2px 3px;
    margin-bottom: 5px;
    font-size: 12px;
}
@media screen and (min-width: 320px){
    .quote-p .tit{width: 24%;}
    .quote-p .ct{width: 73%;}
}
@media(min-width: 359px){
    .quote-p .tit{width: 22%;}
    .quote-p .ct{width: 75%;}
}

.wait-inq{
    margin-top: 15px;
    background: #fff;
    width: 100%;
    overflow: hidden;
    border-top:1px solid #e5e5e5;
}
.wait-inq-tit{
    padding: 15px 0 10px;
    margin: 0 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #e1e1e1;

}
.wait-inq-tit .icon-time{
    width: 19px;
    height: 19px;
    display: block;
    float: left;
    background: url("../../img/demand_tender.v1.0/w_icon_time.png") no-repeat;
    background-size: 100%;
    margin-right: 5px;
}
.wait-inq-tit h2{
    width: 100%;
    float: left;
    color: #333;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.3em;
}
.wait-inq-tit h2.orange{color: #fe6a3a;}
.wait-inq-tit h2 span{color: #fe6a3a;font-size: 17px;font-weight: bold;}
.wait-inq-tit>p{float:left;width: 50%;font-size: 16px;color: #fe6a3a;margin-bottom: 5px;}
.wait-inq>p{
    color: #666;
    font-size: 14px;
    line-height: 1.5em;
    margin: 15px;
}

.link-wrap{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #fff;
    border-top:1px solid #e5e5e5;
    margin-top: 15px;
}
.link{
    display: block;
    margin: 0 15px;
    background-image: url("../../img/demand_tender.v1.0/icon-in.png");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: right center;
}
.link p{
    font-size: 16px;
    color: #666;
}
.link .icon{
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 16px;
    margin-right: 5px;
}
.link .icon-phone{
    background-image: url("../../img/demand_tender.v1.0/w_icon_tel.png");
}
.icon-needs{
    background-image: url("../../img/demand_tender.v1.0/w_icon_needs.png");
}

.wait-inq-tit .time{
    float: right;
    color: #999;
    font-size: 12px;
    font-family: "Arial";
}
.wait-inq-cont{
    display: block;
    padding: 15px;
    box-sizing: border-box;
}
.wait-inq-cont .act-list{
    float: left;
    width: 70%;
}
.wait-inq-cont .act-list p{
    color: #666;
    font-size: 16px;
    line-height: 1.8em;
}
.wait-inq-cont>p{
    float: right;
    color: #999;
    font-size: 15px;
    width: 30%;
    text-align: right;
    line-height: 1.8em;
}

.wt-demand-tit{
    width: 100%;
    background: #fff;
    height: 50px;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}
.wt-demand-tit .line{
    width: 1px;
    height: 22px;
    margin-top: 14px;
    border-left: 1px solid #eee;
}
.wt-demand-tit .alink{
    width: 49%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    color: #3f3f3f;
    font-size: 18px;
    box-sizing: border-box;
}
.wt-demand-tit .current{
    color: #fe6a3a;
    border-bottom: 2px solid #fe6a3a;
}

/*商家*/
.business-tit .alink{
    width: 32.8%;
}

















































