.fl{float: left;}
.fr{float: right;}

.logreg-wrap{
    background-color: #fff;
    width: 350px;height: 348px;
    padding:25px;
    border: 1px solid #ccc;
    position: absolute;
    right: 0;
    top:-420px;
    z-index: 10000;
}
.logreg-title h2{
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    margin:5px 20px;
}
.logreg-ipt{
    padding:20px 20px 30px;
}
.logreg-ipt input{
    width:298px;
    height: 48px;
    font-size: 14px;
    line-height: 48px;
    padding-left: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-bottom: 15px;
    background-color: #faffbd;
}
.logreg-btn{
    display: block;
    width:310px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    background-color: #24252f;
}
.logreg-ipt .fogt{
    display: block;
    text-align: center;
    color: #000;
    text-decoration: underline;
    margin-top: 15px;
}
.logreg-regbtn{
    padding: 0 20px;
    border-top:1px solid #ccc;
    padding-top: 15px;
}
.logreg-regbtn a{
    display: block;
    width: 133px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    color: #000;
}
.logreg-regbtn a:hover{
    background-color: #24252f;
    color: #fff;
}