.reset-content{display:inline-block;width:100%;height:442px; background-color: #f2f2f2; text-align: center}
.reset-content a{color: #000}
.reset-content a:hover{cursor:pointer;}
.reset-content .process-nav{display:block;width: 460px;height:30px;margin:40px auto 22px auto;}
.reset-content .process-nav .process-arrow{float: left;height: 30px; line-height: 30px; margin: 0 13px; color: #adadad;}
.reset-content .process-nav .process-arrow[class*=active]{color: #3ad5bb;}
.reset-content .process-nav .nav-content{height: 100%; width: 100px; line-height: 30px; text-align: left; float: left}
.reset-content .process-nav .nav-content[class*="icon1-act"]{background: url(../../img/login.v2.0/icon1-act.png) no-repeat}
.reset-content .process-nav .nav-content[class*="icon2"]{background: url(../../img/login.v2.0/icon2.png) no-repeat}
.reset-content .process-nav .nav-content[class*="icon2-act"]{background: url(../../img/login.v2.0/icon2-act.png) no-repeat}
.reset-content .process-nav .nav-content[class*="icon3"]{background: url(../../img/login.v2.0/icon3.png) no-repeat}
.reset-content .process-nav .nav-content image{height: 30px; width: 30px;}
.reset-content .process-nav .nav-content p{font-size: 16px;float: right; color: #adadad;}
.reset-content .process-nav .nav-content p[class*=active]{ color: #3ad5bb;}
.reset-content .form-content{display: block;width: 460px; height: auto;margin:0 auto;background-color: #fff; border: solid 1px #e2e2e2; padding: 36px;box-sizing: border-box;-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;}
.reset-content .form-content .nav-tab{display: none;}
.reset-content .form-content .nav-tab[class*="active"]{display: block;}
.reset-content .form-content .info-content{width: 100%; height: 20px; line-height: 20px;}
.reset-content .form-content .info-content[class*="active"]{margin: 5px 0 10px 0}
.reset-content .form-content .info-content p{float: right;height:20px;width: 68%;margin: 0;text-align: left}
.reset-content .form-content .info-content p[class*="error"]{color: #ff0000;}
.reset-content .form-content .info-content p[class*="correct"]{color: #3ad5bb;}
.reset-content .form-content .content-row{width: 100%; height: 40px; line-height: 40px;}
.reset-content .form-content .content-row .left{float: left;height:40px;width: 32%;text-align: left}
.reset-content .form-content .content-row .right{float: right;height:40px;width: 68%;}
.reset-content .form-content .content-row .verify-code-input{float: left;width: 50%; height: 40px;}
.reset-content .form-content .content-row .verify-code-send{display:block;float: right;width: 40%; height: 40px; background-color: #d1d0d0;border: 0px;}
.reset-content .form-content .content-row input{height: 40px; width: 100%;padding: 6px 12px;border: 1px solid #ddd;  outline: none}
.reset-content .form-content .content-row .input[class*="error"]{border: 1px solid #ff0000; background: url("../../img/login.v2.0/error.png") no-repeat 98% 10px ;
    background-size: 18px;}
.reset-content .form-content .content-row .input[class*="correct"]{border: 1px solid #ddd; background: url("../../img/login.v2.0/correct.png") no-repeat 98% 10px ;
    background-size: 18px;}
.reset-content .form-content .next-step{width: 100%; height: 40px; line-height: 40px; margin: 10px 0 0 0; background-color: #3ad5bb; color: #fff; border: 0px; font-size: 16px;}
.reset-content .back-to-login{display: block; margin:20px auto;text-decoration:underline;width: 100px;}
.reset-content .back-to-login:hover{color:#3ad5bb;}