body{ position:relative; font-size: 14px; line-height: 28px; color: #555}
a { color: #555}
a:active { color: #00c3c3;}
a:hover {  color: #00c3c3; }



/*------center------*/
.hc1 { background: #f3f3f3;  margin-top: 20px;}
.ha { margin:0 auto; width:45%;  padding-top:40px; padding-bottom: 30px;}
.hb { width: 85%;}
.hb input { border: none; padding-left: 15px; font-size: 12px; width:100%; line-height: 40px; color: #666;}
.hc { width:15%;}
.hc a { text-align:center; font-size: 16px; }
.btn-primary { background:#00c3c3; text-align: center; border: none; width:100%; height:40px;line-height:30px; }
.btn-primary:hover { background: #24252f; border: 0px}
.ha .hot { font-size: 12px; margin-top: 15px; width: 100%; text-align: center;}
.ha .hot a { margin:0px 10px 0px 10px;}

.content1 {width: 1180px;margin: 0 auto;}
.nav1 { border: 1px solid #f3f3f3; width:15%; margin-top: 50px; }
.nav1 ul { margin:0px 10px 0px 10px;}
.nav1 li { margin:15px 0px 15px 20px; }
.nav-a{ margin-top: 25px; background: #00c3c3; line-height: 30px;}.nav-a a { color: #fff;}
.line1 { background: #f3f3f3; height: 1px;}
.nav2 {  margin-top: 50px; padding-left: 20px; width: 83%}
.nav-b{ color: #00c3c3; margin-top: 30px; }
.nav-b h4 { font-size: 16px; font-weight: bold;}
.nav2 li { margin-top: 25px; }

/*------info------*/
.nav-c { border-bottom: 1px solid  #f3f3f3; color: #00c3c3; margin-top: 30px; padding-bottom: 10px; }
.nav-c h4 { font-size: 16px; font-weight: bold;}
.nav-c span { font-size: 12px; font-weight: normal; padding-left: 5px; }
.nav-c strong { padding-left: 5px;  font-size: 14px; color: #555; }
.nav-c-1 { width: 70%;}
.nav-c-2 { margin-top: 10px; font-size: 12px;}
.nav-c-2 a {  color: #00c3c3;}
.text1 { margin-top: 30px;}
.text1 h4 { font-size: 14px; font-weight: bold;}

/*------guide------*/
.flow { width: 102%; margin: 0px; padding: 0px;}
.flow ul li {  width: 18%; height:auto; background: #f2f2f2;text-align: center; line-height: 24px; margin-right:2% ;}
.icon1 span { font-size: 14px; font-weight: bold; color: #24252f;}
.icon1 { padding-top:50px; text-align: center; padding-bottom: 50px;}
.icon1 .m1 { font-size: 24px;  color: #fff; display: block; }
.icon1 .m2 { font-size: 24px;  color: #24252f;display: block; }
.flow ul li:hover { background: #00c3c3; display: block; width: 18%;}
.flow ul li:hover .m2 { color: #fff;}
.flow ul li:hover span { color: #fff;}

.guide-1 {}
.guide-1 img { width: 100%; margin-top: 25px;}

.btn-success { width: 100%; padding: 10px 0px; margin-top: 20px; background: #f2f2f2; border: 0px; color: #555; }
.btn-success:hover { background: #00c3c3;  border: 0px;}
.menu-a { text-align: center; line-height: 30px;}
.menu-a ul li { float: left; width: 49%; background: #ecedf1; margin-top:10px; }
.menu-a ul li:hover { background: #00c3c3; color: #fff; display: block;}
.menu-a ul li:hover a { color: #fff;display: block; width: 100%}
.menu-a ul li:active { background: #00c3c3; color: #fff; }
.menu-a ul li:active a { color: #fff;display: block; width: 100%}


.more { display: none}


/*------@media------*/
@media ( max-width:1024px){
    body{max-width: 750px; margin:0 auto;}
    .ha { margin:0 auto; width:80%;  padding-top:20px; padding-bottom: 20px;}
    .hb input { border: none; padding-left: 15px; font-size: 12px; width:107%; line-height: 40px; color: #666;}
    .content1 {width:100%;}
    .nav1 { border: 1px solid #f3f3f3; width:25%;margin-top: 30px; margin-left: 15px; }
    .nav2 {  margin-top: 30px; padding-left: 20px; width: 68%; margin-right: 20px; }
    .flow ul li { height:auto; background: #f2f2f2;text-align: center; line-height: 24px; margin-right: 2% ;}
    .icon1 span { display: none;}
    .icon1 {  display: block; width: 30%; margin: 0 auto; padding-top:30px; padding-bottom:30px;}
    .icon1 .m1 { font-size: 26px; text-align: center; color: #fff; }
    .icon1 .m2 { font-size: 26px; text-align: center;  color: #24252f;   }
    .guide-1 img { width: 100%; margin-top: 25px;}
    .wrap h1 { font-size: 24px;}
}

@media (max-width: 560px) {
    body{max-width:100%}
    .ha { margin:0 auto; width:100%;  padding-top:20px; padding-bottom: 20px;}
    .hb input { border: none; padding-left: 15px; font-size: 12px; width:100%; line-height: 40px; color: #666;}
    .hot1 { display: none;}
    .nav1 { display: none; }
    .nav2 { margin-top: 0px; width:100%;}
    .nav-b{ color: #00c3c3; margin-top: 20px; }
    .nav-b h4 { font-size: 14px; font-weight: bold;}
    .nav2 li { margin-top: 10px; }
    .nav2 li a { font-size: 12px;}
    .content1 {width:100%; margin: 0 auto;}
    .flow ul li {  height:auto; background: #f2f2f2;text-align: center; line-height: 24px; margin-right: 2% ;}
    .icon1 {  display: block;  text-align:center; padding-top:20px; padding-bottom:20px;}
    .icon1 .m1 { font-size: 20px;  color: #fff;  }
    .icon1 .m2 { font-size: 20px;  color: #24252f; }
    .more { display:inline }
    .nav-c { border-bottom: 1px solid  #f3f3f3; color: #00c3c3; margin-top: 20px; padding-bottom: 0px;  }
    .nav-c h4 { font-size: 14px; font-weight: bold;}
    .nav-c span { font-size: 12px; font-weight: normal; padding-left: 5px; }
    .nav-c strong { padding-left: 5px;  font-size: 12px; color: #555; }
    .guide-1 img { width: 100%; margin-top: 15px;}
    .wrap h1 { font-size: 18px; margin-top: 0px;}
    .hc a { text-align:center; font-size: 14px; width: 100%; }
    .flow{ margin-top:10px;}
    .nav-c-2 { margin-top: 5px; font-size: 12px;}
}
@media (max-width: 320px) {
    .icon1 {  display: block; width:30%; margin: 0 auto; padding-top:10px; padding-bottom: 10px;}
    .ha { margin:0 auto; width:100%;  padding-top:10px; padding-bottom: 10px;}
    .more { display:inline }
    .nav-c h4 { font-size: 12px; font-weight: bold;}
    .nav-c span { font-size: 10px; font-weight: normal; padding-left: 5px; }
    .nav-c strong { padding-left: 5px;  font-size: 10px; color: #555; }
    .guide-1 img { width: 100%; margin-top: 10px;}
    .wrap h1 { font-size: 14px; margin-top: 0px;}
    .hc a { text-align:center; font-size: 12px; width: 100%; }
    .flow{ margin-top: -10px;}
    .nav-c { border-bottom: 1px solid  #f3f3f3; color: #00c3c3; margin-top: 20px; padding-bottom: 0px; }
    .btn-success { width: 100%; padding: 10px 0px; margin-top: 10px; background: #f2f2f2; border: 0px; color: #555; }
}
