.media-left img{ width:64px; height:64px;}
.media_buyer{ width:800px; float:left;}
.media_seller{ width:800px; float:right;}
.media-body t{ color:#999; display:block;}
.load{ width:20px; margin:auto; padding-bottom:20px;}
.btn-cont a{ color:#fff;}
.btn-cont a:hover{ color:#fff;}
.btn-primary1{ color:#fff; background-color:#24252f;}
.scroller {
    padding: 0px;
    margin: 0px;
    padding-right: 12px;
    overflow: hidden;
}
.chats {
    margin: 0;
    padding: 0;
    margin-top: -15px;
    margin-right: 10px;
}
.chats li {
    list-style: none;
    padding: 5px 0;
    margin: 10px auto;
    font-size: 12px;
}

.chats li img.avatar {
    height: 45px;
    width: 45px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}
.chats li.in img.avatar {
    float: left;
    margin-right: 10px;
}
.img-responsive{ display:block; max-width:100%;}
.chats li .message {
    display: block;
    padding: 5px;
    position: relative;
}

.chats li.in .message {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: left;
    border: 1px solid #ddd;
    margin-left: 65px;
    background: #fafafa
}
.chats li.in .message .arrow {
    display: block;
    position: absolute;
    top: 5px;
    left: -8px;
    width: 0;
    height: 0;

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #ddd;
}

.chats li.out .message .arrow {
    display: block;
    position: absolute;
    top: 5px;
    right: -8px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #ddd;
}

.chats li.out .message {
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 65px;
    text-align: right;
}
.chats li .name {
    color: #00c3c3;/*更改过*/
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
}
.chats li .datetime {
    color: #333;
    font-size: 13px;
    font-weight: 400;
}

.chats li.out img.avatar {
    float: right;
    margin-left: 10px;
}
.chats li .message .body {
    display: block;
    word-break: break-all;
}
.chat-form {
    margin: 15px -4px 0 0;
    padding: 10px 0;
    overflow: hidden;
    clear: both;
}
.chat-form .input-cont {
    margin-right: 40px;
}
.chat-form .input-cont .form-control {
    width: 100% !important;
    margin-bottom: 0px;
}
.chat-form .input-cont input {
    border: 1px solid #ddd;
    width: 100% !important;
    margin-top: 0;
}
.chat-form .input-cont input {
    background-color: #fff !important;
}
.chat-form .input-cont input:focus {
    border: 1px solid #4b8df9 !important;
}
.chat-form .btn-cont {
    margin-top: -42px;
    position: relative;
    float: right;
    width: 44px;
}
.chat-form .btn-cont .arrow {
    position: absolute;
    top: 17px;
    right: 43px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #24252f;/*更改过*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.chat-form .btn-cont:hover .arrow {
    border-right-color: #00c3c3;/*更改过*/
}
.chat-form .btn-cont:hover .btn {
    background-color: #00c3c3;/*更改过*/
}
.chat-form .btn-cont .btn {
    border-radius: 0px 4px 4px 0px;
    margin-top: 8px;
}
[class^="fa-"],
[class*=" fa-"] {
    display: inline-block;
    margin-top: 1px;
    font-size: 14px;
    *margin-right: .3em;
    line-height: 14px;
}
[class^="fa-"],
[class^="glyphicon-"],
[class^="icon-"],
[class*=" fa-"],
[class*=" glyphicon-"],
[class*=" icon-"] {
    display: inline-block;
    margin-top: 1px;
    font-size: 14px;
    *margin-right: .3em;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
}
ul.chats li span{ width: auto}
ul.chats li{ width:620px; display: block }
ul.chats li.out{ float: right }
ul.chats li.in{ float: left}
.chats li.in .name{ float: left}
.chats li.in .datetime{float: right}
.chats li.in .body{ float: right}
.slimScrollDiv{ position: relative}
.slimScrollDiv .mask{position: absolute; top: 0;left: 0;right:0;height: 435px;}
.mask{ display: none}
.mask .loading{ color: #fff;text-align: center;height: 435px;}
.mask .loading i{font-size: 30px; line-height: 435px}
.mask .loading img{ margin-top: 200px; width: 35px }


@media (min-width: 1024px){
    ul.chats li .datetime{ width:145px;text-align: left }
    ul.chats .body{ text-align: left}
    .chats .in{ }
    ul.chats li{ width: 550px;}

}
@media (max-width: 690px){
    ul.chats li{ width: 350px;}
}
@media (max-width:375px){
    ul.chats li{ width: 255px;}
}


