.product_left{ float: left; width: 880px;}
.product_right{ float: right; width: 270px;}
.information{ border: 1px solid #ddd; background:url(../img/i_bg.jpg) repeat-y;}
.information ul li{ border-bottom: 1px dotted #ccc;}
.information ul li:last-child{ border-bottom: none;}
.information ul li i{ color:#999!important;}
.information_left{ padding: 10px; line-height: 28px; color: #666; float: left; width: 18%;}
.information_right{ padding: 10px; line-height: 28px; float: left; width: 27.33%;}
.information_right1,.information_right2{ padding: 10px; line-height: 28px; float: left; width: 82%;}
.information_right1 span, .ir1 span{  display: block; width: 46%; float: left; margin: 0 2% 0 0; padding-left: 90px;}
.information_right1 span c, .ir1 span c{ color: #999;position: absolute; margin-left: -90px; width:80px;}
.case_title{ font-size: 16px; margin-top: 30px; border-top: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; padding: 5px 0px 5px 10px;}
.case ul li{ padding: 20px 0px 0px; height: 135px; overflow: visible;}
.case_left{ float: left; width: 160px; height: 114px; border: 1px solid #eee; padding: 2px;}
.case_left img{ width: 154px; height:108px;}
.case_right p{ font-size: 16px; margin-top: 10px;}
.case_right p a:hover{color: #00c3c3;}
.case_right { float: left; margin-left: 20px; width: 700px;}
.case_des{ color: #999;}
.page_product{ margin-top: 40px; height:auto; overflow: hidden; margin-left: 330px;}
.pagination>.active>a{ background-color: #24252f; border: 1px solid #24252f;}
.pagination>.active>a:hover{ background-color:#24252f!important; border: 1px solid #24252f!important; color: #fff!important;}
.pagination>li>a:hover{ color: #24252f!important;}
.c1,.c2,.c3{ width: 33.33%;}
.datp{ margin-top: 20px;}
.showDate{ padding: 15px 20px 5px; margin-top: 0px; height: 345px;}
.fc-toolbar{ margin-bottom: 5px!important;}
.fc-center h4{ margin-top: 5px;}
.product_right_title{ height: 35px; font-size: 16px; line-height: 35px; color: #333; margin-top: 25px;}
.product_right_body{ margin-top: 20px;}
.t_content2{ float: none; width: 270px; margin-bottom:16px; box-shadow: 0 0 7px #cecece; border: 1px solid #fff; margin-left: 2px;}
.t_content2:hover{ box-shadow: 0 0 7px #999;}
.t_content2 a{ display: block; width: 100%}
.t_content2 span{font-size: 13px; color: #333;padding:0px 20px; display: block; height:34px; line-height: 34px; overflow: hidden; border-top: 0}
.t_content2 img{ width: 100%; display: block;}
.pto{ background-color: #f5f5f5;}
.product_top{ width: 1180px; margin: auto; padding: 10px 0px;}
.product_top p{ color: #666;}
.product_top p a{ color: #666;}
.product_top_left{ float: left; width: 904px;min-height: 123px;}
.product_top_right{ float: right; width: 270px; position: relative;}
.product_top_right .button{ position: absolute; height: auto; overflow: hidden; width: 420px; left: -148px;}
.product_top_right h2{ text-align: right; font-size: 20px; line-height: 26px;}
.product_top_right .look-price{color:#E52B80;font-size: 16px;margin-bottom: 3px;padding-right: 58px;}
.product_top_right .look-price:hover{text-decoration: underline;}
.product_top_right span{ color: #666; padding-right: 10px; font-size: 15px; font-weight: bold;}
.btn-order{ background-color: #ff308e; width: 200px; border-radius: 0px; -webkit-border-radius: 0px;
    height: 40px; font-size: 16px; padding-top: 8px; float: left; margin-right: 20px; text-align: center; color: #fff;}
.btn-order:hover{ background-color: #e52b80; color: #fff;}
.btn-consult{ background-color: #00c3c3; width: 200px; border-radius: 0px; -webkit-border-radius: 0px;
    height: 40px; font-size: 16px; padding-top: 8px; float: left; text-align: center; color: #fff;}
.btn-consult:hover{ background-color: #01afaf; color: #fff;}
.service_tab{ margin: 5px 0px 0px 0px;}
.service_tab span{ color: #666;}
.product_icon{ float: right;}
.product_icon h5{ float: right; margin-top: 10px; margin-left: 20px;}
.product_icon h5 a{ color: #00c3c3!important;}
.product_icon h5 a:hover{ color: #00a6a6!important;}
.product_head{ background-color: #e9e9e9;}
.product_head_content{ width: 1180px; margin: auto; padding: 30px 0;}
.phcl{ float: left; width: 880px; height: 450px; background-color: #333; position: relative;}
.phcl P{ color: #fff;}
.phcil{ float: left; margin:0; position: relative;}
.phcil .left{position: absolute; left: 13px; top: 40px; z-index: 10000; color: #fff;}
.phcil .right{position: absolute; right: 13px; top: 40px; z-index: 10000; color: #fff;}
.phcil img{ max-width: 100%;}
.phcir{ float: right; width: 282px; background-color: #333; height: 450px; padding: 20px 0px;}
.itt{ height: auto; overflow: hidden;}
.itt li{ float: left; color: #fff; font-size: 12px; margin-right: 10px; cursor: pointer;}
.itt li:last-child{ margin-right: 0px;}
.itt .active{ color: #00c3c3;}
.phcir .up{ text-align: center; padding: 0px; margin-top: 10px; margin-bottom: 5px; width: 260px;}
.phcir .down{ text-align: center; margin: 0px; padding: 0px; width: 260px;}
.thum .active{ border: 2px solid #00c3c3;}
.thum li{ float: left; margin-right: 5px; margin-bottom: 5px; border: 2px solid #333; width: 125px; height: 80px; overflow: hidden;}
.thum li img{ max-width: 100%; height: auto;}
.phcr{ float: right; width: 268px; height: 450px; background-color: #f2f2f2;}
.s_logo{ text-align: center; margin: 20px 0 10px;}
.s_logo img { width: 100px;}
.s_title{ text-align: center; font-size: 18px; font-weight: bold; height: 54px; line-height: 30px; overflow: hidden;}
.s_title a{  color: #333; }
.s_title a:hover{ color: #00c3c3;}
.s_content{ margin: 20px 30px;}
.s_content p{ height: 20px; overflow: hidden;}
.s_content p span{ color: #999;}
.c_button{ margin: 10px 30px;}
.c_b{ border-radius: 0px; width: 100%; height: 35px; background-color: #fff; border: 2px solid #00c3c3; color: #00c3c3!important; font-weight: bold;}
.tab_product{ position: absolute; top: 20px; right: 15px; color: #fff; z-index: 2;}
.tab_product_item{ float: left; margin-right: 10px; cursor: pointer; font-size: 12px;}
.tab_product_item_active{ color: #00c3c3;}
/*.spin{ width: 100%; margin-top: 10px; background-color: #f0f0f0; padding:20px; height: auto; overflow: hidden;}*/
/*.spin b{ display: block; text-align: center; font-size: 16px; margin-bottom: 15px; font-weight: bold;}*/
/*.spin p{ display: block; margin:5px; float: left; width: 200px;}*/
/*.spin p span{ color: #999;}*/
/*.tab_product{ width: 270px}*/
#pikame2{top:0px !important;}
.datp div span{ width: 15px!important; height: 15px!important;}
.datp div p{ line-height: 15px; padding-bottom: 5px;}
/*套餐*/
.package_title{ background-color: #31353e; color: #fff; height: 30px; line-height: 30px; padding-left: 15px; margin: 20px 0px 10px; font-size: 15px; border-left: 3px solid #00c3c3;}
/*.package_title1{ background: url("../img/bf.jpg") repeat; height: 30px; line-height: 30px; color: #31353e; padding-left: 15px; margin: 20px 0px 10px; border-left: 2px solid #00c3c3; font-weight: bold;}*/
.package_information{ margin-top: 40px;}
.package_case{ border-bottom: 1px dotted #ddd; padding: 10px 0px!important;}
.pto1{ background-color: #fff;}
.product_top_left .item{ line-height: 35px; color: #444; text-overflow:ellipsis; overflow:hidden;}
.product_top_left .title{width:720px;overflow:hidden;white-space: nowrap; text-overflow: ellipsis;}
.product_top_left .service_tab{width:720px;overflow:hidden;white-space: nowrap; text-overflow: ellipsis;}
.product_top_right1{ width: 270px; min-height: 350px; float: right; border: 1px solid #eee; padding: 10px 10px; overflow: visible;}
.set_ask{  margin-top: 11px;width: 100%;  }
.product_top_left1{ min-height: 350px; overflow: visible;}
.btn-order1{ height: 40px; background-color: #d6255e; width: 100%; border-radius: 0px; -webkit-border-radius: 0px; color: #fff; padding: 6px 12px; border:1px solid transparent; font-size: 16px;}
.btn-order1:hover,.btn-order1:hover:focus{ background-color: #c02154; color: #fff; }
.c_b1{ border-radius: 0px; width: 100%; background-color: #00c3c3; color: #fff;!important; font-weight: bold!important;}
.c_b1:hover{ background-color: #00a6a6; border-color: #00a6a6; color: #fff!important;}
.package_tab{ margin-bottom: 15px;}
.package_tab li{ float: left; width: 124px; text-align: center; height: 42px; background-color: #f0f0f0; line-height: 42px; cursor: pointer;}
.package_tab_active{ background-color:#24252f!important; color: #fff;}
.package_tab_content{ min-height: 150px; overflow: visible;}
.package_tab_content li{ height: auto; margin: 10px;}
.package_tab_content_sum{border-top: 1px dashed #ddd; padding-top: 10px; font-weight: bold;}
.package_tab_content_left{ float: left;}
.package_tab_content_right{ float: right;}
.package_price{ font-size: 18px; font-weight: bold; text-align: center; width: 100%; color: #d6255e;}
.package_price span{ font-size: 14px; color: #3598d9;}
.package_price span1{ color: #696969; font-size: 14px;}
.mr35{ margin-right: 54px;}
.package_product{ font-weight: normal; color: #397ebe!important;}
.package_product:hover{ text-decoration: underline;}
.brief{margin-top: 10px;}
.brief .sp{ color: #999;}
.top_guide_p{ width: 100%; height: 60px; background: rgba(1,1,1,0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000); position: fixed; top:0; z-index: 99; display: none;}
.top_guide_p_c{ width: 1180px; margin: auto;}
.top_guide_p_l{ float: left; color: #fff; font-size: 15px;}
.top_guide_p_l li{ float: left; width: 120px;}
.top_guide_p_r{ float: right;}
.btn_y{ float: right; width: 270px; height: 40px; background-color: #d6255e; color: #fff; border-radius: 0px; margin-top: 10px; font-size: 16px;}
.btn_y:hover,.btn_y:focus{ background-color: #c02154; color: #fff;}
#pd span{ color: #666;}
#pds span{ color: #666;}
#s_content_p{ display: none;}
.tooltip{ line-height: 26px!important;}
/*套餐改版2015-05-25*/
.package_title1{ height: 30px; line-height: 30px; color: #3499da; font-weight: bold; padding-left: 25px; background: url(../img/product_set/set_icon1.jpg) top 8px left no-repeat; font-size: 16px;}
.package_title2{ height: 30px; line-height: 30px; color: #ee5289; font-weight: bold; padding-left: 25px; background: url(../img/product_set/set_icon2.jpg) top 8px left no-repeat; font-size: 16px;}
.package_title3{ height: 30px; line-height: 30px; color: #00c3c3; font-weight: bold; padding-left: 25px; background: url(../img/product_set/set_icon3.jpg) top 8px left no-repeat; font-size: 16px;}
.package_title4{ height: 30px; line-height: 30px; color: #262e73; font-weight: bold; padding-left: 25px; background: url(../img/product_set/set_icon4.jpg) top 8px left no-repeat; font-size: 16px;}
.package_title5{ height: 30px; line-height: 30px; color: #212526; font-weight: bold; padding-left: 25px; background: url(../img/product_set/set_icon5.jpg) top 8px left no-repeat; font-size: 16px;}
.sdt{ margin:30px 0px 0px;}
.sdt_l{ float: left; width: 145px; font-weight: bold; border-bottom: 2px solid #e9e8e8; height: 50px; line-height: 50px;}
.sdt_r{ float: right; width: 735px; font-weight: bold; border-bottom: 2px solid #e9e8e8; height: 50px; line-height: 50px;}
.sdc{ padding: 20px 0px 0px; border-bottom: 1px dashed #dcdcdc;}
.sdc_l{ float: left; width: 145px; margin-bottom: 20px;}
.sdc_r{float: right; width: 735px;}
.sdc_r ul li{ float: left; width: 31%; padding-bottom: 20px; padding-right: 2%;}
.sdc_r ul li span{ color: #999;}
.spf{ height: 50px; border-bottom: 1px dashed #dcdcdc;}
.spft{ border-bottom: 2px solid #e7e9e9; height: 50px; line-height: 50px;}
.spft1{ border-bottom: 2px solid #e7e9e9; height: 50px; line-height: 50px;}
.sft{ line-height: 36px; font-weight: bold; margin-top: 20px;}
.sfc{ line-height: 36px;}
.item span{ color: #999;}

.ue-table-interlace-color-single{
    background:#f7faff
}
.ue-table-interlace-color-single td, .ue-table-interlace-color-double td{
    padding: 10px;
    border:1px solid #eee !important;
}
.demand-code{
    width:600px;margin:30px auto;
}
.demand-code-body {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.demand-code-body{
    position: relative;
    padding: 15px;
}

.remind{
    min-width:300px;background: #eeeeee;text-align: center;line-height: 50px;
    border-radius: 5px;left:25%;top:50%;margin-top:25px;position: absolute;font-size: 16px;
    display: none;transition: all 3s ease-in;-webkit-transition: all 3s ease-in;-o-transition: all 3s ease-in;-moz-transition: all 3s ease-in;
}

@media (min-width: 1024px){
    /*.spin{ display: none;}*/
    /*.c_button_p{ display: none;}*/
}

@media (max-width: 1024px){
    .pto{ background: none;}
    .back{ display: block;}
    .service_tab{ display: none;}
    #share{ display: none;}
    .product_icon{ float: none;}
    .product_icon h5{ float:none; margin-left: 0px;}
    .product_icon h5 a{display: inline-block; padding: 10px; font-size: 14px; text-align: center; border-radius:4px;
        background-color: #24252f; width: 100%; color: #fff!important;}
    .product_top{ width: 100%;}
    .product_top_right{ width: 100%;}
    .product_top_right h2{ text-align: center;}
    .product_top_left{ width: 100%;}
    .product_head{ background: none;}
    .product_head_content{ width: 100%; padding: 0px;}

    .product_left{ width: 100%;}
    .information{ background: none;}
    .group_title{ width: 100%;}
    .t_content2{ float: left; width: 48%; margin: 1%;}
    .product_right_body{ margin-top: 10px;}
    .information{ height: auto;}
    .showDate{ height: auto; width: 100%;}
    .product_right{ width: 100%; margin-top: 20px;}
    .case_left{ width: 20%; height: auto;}
    .case_left img{ width: 100%; height: auto;}
    .case_right{ width: 75%;}
    .case_right p{ margin-top: 0px;}
    .case ul li{height: auto;}
    .page_product{ margin-left: 0px; margin-top: 20px; margin-bottom: 30px;}
    .c_button{ margin: 0px; padding:0px; margin-top: 10px;}
    /*.spin img{ width: 80px; height: 80px;}*/
    .phcl{ width: 100%; height: auto;}
    .product_top_left1{height: auto;}
    .product_top_right1{ width: 100%; height: auto;}
    .mr35{ margin-right: 0px;}
    .package_tab_content{ height:auto;}
    #s_content_p{ display: block; background-color: #f0f0f0; margin: 10px 0px; padding: 10px;}
    #s_content_p img{ width: 80px; height: 80px;}
    .phcr{ width: 100%; margin-top: 20px;}
    .c_button{ margin: 0px 10px;}
}


@media (max-width: 625px){
    .information_right1,.information_right2{ width: 100%;}
}

@media (max-width: 560px){
    /*.spin img{ width: 50px; height: 50px;}*/
    .product_top{ padding:0px 10px; margin-bottom: 10px;}
    .product_left{ padding:0px 10px;}
    .product_right{ padding: 0px 10px;}
    .case_left{ width: 30%;}
    .case_right{ width: 100%; margin-left: 5px; margin-top: 10px;}
    .information_left{ width: 100%; margin-bottom: 0px; padding-bottom: 0px;}
    .information_right{ width: 33.33%;}
    .t_content2{ float: none; width: 100%; margin: 0%;}
    .information_right1 span{ width: 48%; margin: 0 2%;}
    .product_head_content{ padding: 0px 10px;}
    #s_content_p img{ width: 50px; height: 50px;}
    .package_tab li{width:50%}
    .top_guide_p{display: none!important;}
    .back{display: none}
    .product_top_left h2{margin-top: 0px}
    .ir1 span{ float: none; padding-left: 0px;}
    .ir1 span c{ position: inherit;}
}

@media (max-width: 320px){
    .case_left{ width: 100%;}
    .case_right{ width: 100%; margin-left: 0px; margin-top: 10px;}
}


